<p>
  table-sevice works!
</p>
<h1>A Simple Wep App</h1>
<h2 style="display: inline-block; margin-right: 5px">OrderBy</h2>
<select [(ngModel)] = 'fill'>
  <option value="selec"><p style="color: #B8B7DE">Select field to sort</p></option>
  <option value="id">Id</option>
  <option value="firstName">First Name</option>
  <option value="lastName">Last Name</option>
  <option value="email">Email</option>
  <option value="gender">Gender</option>
  <option value="birthday">Birthday</option>
  <option value="salary">Salary</option>
  <option value="phone">Phone</option>
</select>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Gender</th>
      <th>Birthday</th>
      <th>Salary</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = 'let data of datas | fillter: fill'>
      <td>{{ data.id }}</td>
      <td>{{ data.firstName }}</td>
      <td>{{ data.lastName }}</td>
      <td>{{ data.email }}</td>
      <td>{{ data.gender }}</td>
      <td>{{ data.birthday | date: 'dd/MM/y' }}</td>
      <td>{{ data.salary }}</td>
      <td>{{ data.phone | phone }}</td>
    </tr>
  </tbody>
</table>
